.main-body{
  background-color: #FEFAE0;
}
.logo-container{
  color:#6b705c ;
}
.product-section{
  padding: 60px 60px 10px 70px ;
}
.calculation-section{
  background-color: #E9EDC9;
  padding: 10px;
}