.blog-container{
  background-color: #FEFAE0;
}

.first-question{
  background-color: #E9EDC9;
}
.second-question{
  background-color: #E9EDC9;
}
table, th, td {
  border: 1px solid black;
}
.third-question{
  background-color: #E9EDC9;
}